@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  font-size: 15.61px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: rgba(200, 200, 200, 0.5);
}

ul {
  display: flex;
  gap: 15.92px;
  justify-content: flex-end;
}

.body-header-left {
  width: 50%;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 13px 15.9%;
  width: 100%;
}

.header-left {
  flex: 1;
  font-size: 19.74px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
}

.header-right {
  flex: 3;
}

.footer .credit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: white;
  font-weight: 400;
  font-size: 16.02px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

li {
  display: flex;
  gap: 5px;
}

.email {
  font-weight: 400;
  font-size: 11.94px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #9b9c9c;
}

.hide{
  display: none;
}

#roleInput{
  border-radius: 0%;
}

.first-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
}
.second-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
}
.third-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
}

.first-element-right {
  display: flex;
  justify-content: space-between !important;
}

.roleInPerson {
  font-weight: 400;
  font-size: 11.94px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #9b9c9c;
}

.name {
  font-weight: 600;
  font-size: 13.65px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}

.expandButton {
  border: none;
  background-color: white;
}

.body-header {
  display: flex;
  justify-content: space-between;
  width: 68%;
  height: 20vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  flex-direction: column;
}

.add-participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 28%;
}

.brand {
  font-weight: 600;
  font-size: 23.54px;
  line-height: 28.8px;
  letter-spacing: 0px;
  color: rgba(33, 37, 41, 1);
  margin-bottom: 16px;
}

.brand-description {
  font-weight: 400;
  font-size: 15.99px;
  line-height: 24px;
  letter-spacing: 0px;
  width: 50%;
}

#added {
  border-radius: 6px;
  border-width: 1px;
  padding: 9px 16.7px;
  color: #ffffff;
  background-color: rgba(13, 110, 253, 1);
  margin-top: 48px;
  border: none;
}

#addedParticipant {
  border-radius: 4px;
  border-width: 1px;
  padding: 7px 16.74px 7px 16.7px;
  color: rgba(108, 117, 125, 1);
  background-color: #ffffff;
  border-color: rgba(108, 117, 125, 1);
}

.participant {
  font-weight: 600;
  font-size: 19.04px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #212529;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  gap: 10px;
  width: 28%;
}
.select {
  padding: 4px 10px;
}
.filter input {
  padding: 6px;
}

.table {
  border: 1px solid whitesmoke;
  width: 68%;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0px 5px 5px 0px #00000033;
  padding: 17px;
}

table {
  margin-top: 11.2px;
  width: 100%;
  border-collapse: collapse;
  border: 1px;
  table-layout: fixed;
}

table button {
  border: none;
  background-color: transparent;
  transition: all 0.1s linear;
}

.rotated {
  transform: rotate(90deg);
}

table td {
  padding: 8.5px;
}

table .alignRow td {
  text-align: center;
  padding: 8.5px;
}

table thead tr th {
  padding: 8.5px;
}

.table-content.active {
  display: table-row-group;
}

.table-content {
  display: none;
}

.fix {
  font-weight: 400;
  font-size: 13.7px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 8.9px 5px 9.04px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #ffc107;
}

.delete {
  font-weight: 400;
  font-size: 12.68px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 9.38px 5px 8.98px;
  background-color: #dc3545;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
}

.date {
  text-align: center;
  color: #0d6efd;
}

.dueDate {
  text-align: center;
  color: #0d6efd;
}

.taskName{
  display: block;
  text-align: start;
  width: 50%;
}

.buttonForEdit {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.table-header {
  font-weight: 600;
  font-size: 19.72px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #212529;
}

.add-window {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 20%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
}

.add-window2 {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 20%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
}

.userList {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 20%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
}

#userList tbody th {
  display: flex;
  gap: 5px;
}

.add-task-window {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 20%;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
}

#add-window-header-text {
  font-weight: 500;
  font-size: 23.3px;
  line-height: 30px;
  letter-spacing: 0px;
  padding: 15.5px 0px 17.5px 16px;
}

#add-window-header-button {
  background-color: #ffffff;
  font-size: 16px;
  border: none;
  color: #818181;
  padding: 17px 22px 18px 0px;
}

#add-task-window-header-button {
  background-color: #ffffff;
  font-size: 16px;
  border: none;
  color: #818181;
  padding: 17px 22px 18px 0px;
}

#text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.window-body {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.window-task-body {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 14px;
}

.window-body input {
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
}

.window-task-body input {
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
}

.window-body #assignee {
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
}

.window-task-body select {
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
}

.window-body span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.window-task-body span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.window-body textarea {
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
}

.window-footer {
  float: right;
  padding-right: 24px;
  padding-bottom: 8px;
  display: flex;
  gap: 23px;
}

#cancel {
  border-radius: 8px;
  border-width: 1px;
  padding: 6.5px 13.5px;
  background-color: #6c757d;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  cursor: pointer;
}

.cancel {
  border-radius: 8px;
  border-width: 1px;
  padding: 6.5px 13.5px;
  background-color: #6c757d;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  cursor: pointer;
}

#save {
  border-radius: 8px;
  border-width: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #0d6efd;
  padding: 6.5px 14.5px;
  color: #ffffff;
  cursor: pointer;
}

.confirm-delete-window {
  border: 1px solid lightgray;
  width: fit-content;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 20%;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
}

.window-confirm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
}

#add-window-header-text {
  font-weight: 500;
  font-size: 23.3px;
  line-height: 30px;
  letter-spacing: 0px;
  padding: 15.5px 0px 17.5px 16px;
}

#add-window-header-button {
  background-color: #ffffff;
  font-size: 16px;
  border: none;
  color: #818181;
  padding: 17px 22px 18px 0px;
}

.save {
  border-radius: 8px;
  border-width: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #0d6efd;
  padding: 6.5px 14.5px;
  color: #ffffff;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 9;
}

.window-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
}

select {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

#date,
#dueDate {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.userList {
  width: 35%;
}

#userList th {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.tableRow {
  display: flex;
  align-items: center;
  gap: 15.44px;
  justify-content: flex-end;
}

.profilePic {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  align-self: center;
  position: relative;
}

.profileName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.classForLiOnly:nth-child(n + 3) {
  display: none;
}

.userListForm {
  display: flex;
}

.priorityAverage {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #FFA500;
  width: fit-content;
}

.priorityHigh {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #DC3545;
  width: fit-content;
}

.priorityLow {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #0dcaf0;
  width: fit-content;
}

.onProgress {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #198754;
  width: fit-content;
}

.progressRisky {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #FFA500;
  width: fit-content;
}

.unProgressive {
  border-radius: 6px;
  padding: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #DC3545;
  width: fit-content;
}

.table thead{
  background-color: #F8F9FA;
}
